<div id="login-view">
    <form name="loginForm" ng-submit="login.submit()" novalidate>
        <ul class="errors" ng-if="login.errors.length > 0">
            <li ng-repeat="error in login.errors" class="error">{{ error }}</li>
        </ul>
        <input type="email" placeholder="Email" ng-model="login.credentials.email" autocomplete="off" required />
        <input type="password" placeholder="Password" ng-model="login.credentials.password" autocomplete="off" required />
        <input type="submit" value="sign in" />
    </form>
</div>